body{
    background-color: rgb(41, 42, 42);
}

.table{
    margin: 0;
}

.table:nth-child(2){
    margin-bottom: 80px;
}

.star{
    cursor: pointer;
}

@media screen and (max-width:410px){
    .opciones{
        flex-direction: column;
    }
    .center{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
}