.navbar{
    background-color: #020106 !important;
    color: #fff !important;
}

.navbar :hover{
    color: #ffffff;
}

.nav-pills .nav-link.active{
    background-color: rgb(255, 166, 0);
}

.nav-link{
    color: aliceblue; 
}

.navbar-toggler{
    background-color: rgb(162, 78, 0);
    border-color: #fff;
    color: #fff;
}

.nav-a{
    text-decoration: none;
    color: #fff;
}
