@import url('https://fonts.googleapis.com/css2?family=Anton&family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

.circular-square{
    position: relative;
    width: 304px;
    height: 304px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid rgb(255, 185, 86);
}

.circular-square img {
    width: 100%;
    height: auto;
}

body{
    min-height: 100vh;
    background: #040305ec;
}

.contenedor{
    min-height: 100vh;
    background: url(../recursos/fondo-halloween-calabazas-aterradoras-velas-murcielagos-bosque-oscuro-noche.jpg) no-repeat center center fixed;
    background-size: cover;
    
}

.title-h1{
    font-family: 'Nosifer', sans-serif;
    background-color: rgb(37, 37, 37);
    color: rgb(255, 0, 0);
}

.text-p{
    font-family: 'Metal Mania', sans-serif;
    font-size: 25px;
    color: rgb(158, 78, 4);
}